<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Center of buoyancy -->
  <xacro:property name="heron_cob" value="0 0 0"/>

  <!-- Vehicle's actual volume (Gazebo cannot compute the volume out of the mesh) -->
  <xacro:property name="heron_volume" value="0.13"/>

  <!-- Describing the dimensions of the vehicle's bounding box -->
  <xacro:property name="heron_length" value="1.35"/>
  <xacro:property name="heron_width"  value="1.0"/>
  <xacro:property name="heron_height" value="0.32"/>
  <xacro:property name="added_mass_x" value="$(optenv HERON_ADDED_MASS_X 0.0)"/>
  <xacro:property name="added_mass_y" value="$(optenv HERON_ADDED_MASS_Y 0.0)"/>
  <xacro:property name="added_mass_z" value="$(optenv HERON_ADDED_MASS_Z 0.0)"/>
  <xacro:property name="added_mass_roll" value="$(optenv HERON_ADDED_MASS_ROLL 0.0)"/>
  <xacro:property name="added_mass_pitch" value="$(optenv HERON_ADDED_MASS_PITCH 0.0)"/>
  <xacro:property name="added_mass_yaw" value="$(optenv HERON_ADDED_MASS_YAW 0.0)"/>
  <xacro:property name="linear_damping_x" value="$(optenv HERON_LINEAR_DAMPING_X -25.0)"/>
  <xacro:property name="linear_damping_y" value="$(optenv HERON_LINEAR_DAMPING_Y -24.0)"/>
  <xacro:property name="linear_damping_z" value="$(optenv HERON_LINEAR_DAMPING_Z -150.0)"/>
  <xacro:property name="linear_damping_roll" value="$(optenv HERON_LINEAR_DAMPING_ROLL -20.0)"/>
  <xacro:property name="linear_damping_pitch" value="$(optenv HERON_LINEAR_DAMPING_PITCH -20.0)"/>
  <xacro:property name="linear_damping_yaw" value="$(optenv HERON_LINEAR_DAMPING_YAW -10.0)"/>
  <xacro:property name="quadratic_damping_x" value="$(optenv HERON_QUADRATIC_DAMPING_X -5.0)"/>
  <xacro:property name="quadratic_damping_y" value="$(optenv HERON_QUADRATIC_DAMPING_Y -5.0)"/>
  <xacro:property name="quadratic_damping_z" value="$(optenv HERON_QUADRATIC_DAMPING_Z -15.0)"/>
  <xacro:property name="quadratic_damping_roll" value="$(optenv HERON_QUADRATIC_DAMPING_ROLL -8.0)"/>
  <xacro:property name="quadratic_damping_pitch" value="$(optenv HERON_QUADRATIC_DAMPING_PITCH -8.0)"/>
  <xacro:property name="quadratic_damping_yaw" value="$(optenv HERON_QUADRATIC_DAMPING_YAW -8.0)"/>

  <xacro:macro name="heron_hydro_model" params="namespace">

    <!-- List of hydrodynamic models this robot's links -->
      <!-- Gazebo collapses the fixed-joint hull chain into base_footprint when
           converting this URDF to SDF, so hydrodynamic plugins must target the
           physical link name instead of the TF frame name base_link. -->
      <link name="${namespace}base_footprint">
        <volume>${heron_volume}</volume>
        <box>
          <width>${heron_width}</width>
          <length>${heron_length}</length>
          <height>${heron_height}</height>
        </box>
        <center_of_buoyancy>${heron_cob}</center_of_buoyancy>
        <!-- Parameters used to describe the buoyancy force computation 
             for the surface vessel as implemented in the custom force
             translation plugin.
        -->
        <metacentric_width>0.1</metacentric_width>
        <metacentric_length>0.1</metacentric_length>
        <submerged_height>0.02</submerged_height>
        <hydrodynamic_model>
          <type>fossen</type>
          <added_mass>
             ${added_mass_x}   0   0   0   0   0
             0   ${added_mass_y}   0   0   0   0
             0   0   ${added_mass_z}   0   0   0
             0   0   0   ${added_mass_roll}   0   0
             0   0   0   0   ${added_mass_pitch}   0
             0   0   0   0   0   ${added_mass_yaw}
          </added_mass>
          <offset_added_mass>0</offset_added_mass>
          <linear_damping>
                ${linear_damping_x} ${linear_damping_y} ${linear_damping_z} ${linear_damping_roll} ${linear_damping_pitch} ${linear_damping_yaw}
            </linear_damping>
            <quadratic_damping>
              ${quadratic_damping_x} ${quadratic_damping_y} ${quadratic_damping_z} ${quadratic_damping_roll} ${quadratic_damping_pitch} ${quadratic_damping_yaw}
            </quadratic_damping>

            <!-- Sanity check -->
            <linear_damping_forward_speed>
              0 0 0 0 0 0
            </linear_damping_forward_speed>
            <offset_linear_damping>
              0
            </offset_linear_damping>
            <offset_lin_forward_speed_damping>
              0
            </offset_lin_forward_speed_damping>
            <offset_nonlin_damping>
              0
            </offset_nonlin_damping>
            <scaling_damping>1.0</scaling_damping>

        </hydrodynamic_model>
      </link>

  </xacro:macro>

</robot>
