<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- GPS -->
  <link name="$(arg suffix_ns)navsat_link" />

  <gazebo reference="$(arg suffix_ns)navsat_link">
    <sensor name="heron_navsat" type="navsat">
      <always_on>true</always_on>
      <update_rate>40</update_rate>
      <topic>/navsat/fix</topic>
      <navsat>
        <position_sensing>
          <horizontal>
            <noise type="gaussian">
              <stddev>0.0001</stddev>
            </noise>
          </horizontal>
          <vertical>
            <noise type="gaussian">
              <stddev>0.0001</stddev>
            </noise>
          </vertical>
        </position_sensing>
      </navsat>
    </sensor>
  </gazebo>

  <joint name="navsat_joint" type="fixed">
    <parent link="$(arg suffix_ns)base_link" />
    <child link="$(arg suffix_ns)navsat_link" />
    <origin xyz="$(optenv HERON_NAVSAT_UBLOX_XYZ 0.015 0.050 0.072)"
      rpy="$(optenv HERON_NAVSAT_UBLOX_RPY 0.0 0.0 0.0)" />
    </joint>


    <!-- IMU -->
    <link name="$(arg suffix_ns)imu_link" />
    <gazebo reference="$(arg suffix_ns)imu_link">
      <sensor name="heron_raw_imu" type="imu">
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <topic>/imu/data_raw</topic>
        <imu>
          <angular_velocity>
            <x><noise type="gaussian"><stddev>0.005</stddev></noise></x>
            <y><noise type="gaussian"><stddev>0.005</stddev></noise></y>
            <z><noise type="gaussian"><stddev>0.005</stddev></noise></z>
          </angular_velocity>
          <linear_acceleration>
            <x><noise type="gaussian"><stddev>0.005</stddev></noise></x>
            <y><noise type="gaussian"><stddev>0.005</stddev></noise></y>
            <z><noise type="gaussian"><stddev>0.005</stddev></noise></z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>
    <joint name="$(arg suffix_ns)imu_joint" type="fixed">
      <origin xyz="$(optenv HERON_IMU_XYZ -0.1397 0.0 0)" rpy="$(optenv HERON_IMU_RPY 0 0.0 0.0)" />
      <parent link="$(arg suffix_ns)base_link" />
      <child link="$(arg suffix_ns)imu_link" />
    </joint>

    <!-- Magnetometer -->
    <gazebo reference="$(arg suffix_ns)imu_link">
      <sensor name="heron_magnetometer" type="magnetometer">
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <topic>/imu/mag_raw</topic>
        <magnetometer>
          <x><noise type="gaussian"><stddev>0.025</stddev></noise></x>
          <y><noise type="gaussian"><stddev>0.025</stddev></noise></y>
          <z><noise type="gaussian"><stddev>0.025</stddev></noise></z>
        </magnetometer>
      </sensor>
    </gazebo>

  </robot>
