<launch>
  <arg name="config_extras"
       default="$(eval optenv('HERON_CONFIG_EXTRAS', find('heron_control') + '/config/empty.yaml'))"/>

  <arg name="enable_ekf" default="true" />
  <arg name="enable_navsat" default="true" />

  <group if="$(arg enable_ekf)">
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node">
      <rosparam command="load" file="$(find heron_control)/config/robot_localization.yaml" />
    </node>
  </group>

  <group if="$(arg enable_navsat)">
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="false" output="screen">
      <rosparam command="load" file="$(find heron_control)/config/navsat_config.yaml" />
      <remap from="gps/fix" to="navsat/fix" />
      <rosparam param="datum" subst_value="True">[$(optenv GPS_DATUM 43.4720948, -80.5592608), 0.0]</rosparam>
      <param name="wait_for_datum" value="$(eval optenv('GPS_DATUM') != '')" />
    </node>
  </group>

  <node pkg="heron_control" type="vel_cov.py" name="navsat_vel_cov" />

  <!-- Override the default control parameters, see config/empty.yaml for default. -->
  <rosparam command="load" file="$(arg config_extras)" />

</launch>
